.vscode/
HIIfraction_0.txt≈y

HIIfraction_0.txt	
HIIfraction_1.txt
HIIfraction_10.txt
HIIfraction_11.txt
HIIfraction_12.txt
HIIfraction_13.txt
HIIfraction_14.txt
HIIfraction_15.txt
HIIfraction_16.txt
HIIfraction_17.txt
HIIfraction_18.txt
HIIfraction_19.txt
HIIfraction_2.txt
HIIfraction_20.txt
HIIfraction_21.txt
HIIfraction_22.txt
HIIfraction_23.txt
HIIfraction_24.txt
HIIfraction_25.txt
HIIfraction_26.txt
HIIfraction_27.txt
HIIfraction_28.txt
HIIfraction_29.txt
HIIfraction_3.txt
HIIfraction_30.txt
HIIfraction_31.txt
HIIfraction_32.txt
HIIfraction_33.txt
HIIfraction_34.txt
HIIfraction_35.txt
HIIfraction_36.txt
HIIfraction_37.txt
HIIfraction_38.txt
HIIfraction_39.txt
HIIfraction_4.txt
HIIfraction_40.txt
HIIfraction_41.txt
HIIfraction_42.txt
HIIfraction_43.txt
HIIfraction_44.txt
HIIfraction_45.txt
HIIfraction_46.txt
HIIfraction_47.txt
HIIfraction_48.txt
HIIfraction_5.txt
HIIfraction_6.txt
HIIfraction_7.txt
HIIfraction_8.txt
HIIfraction_9.txt
_13757410.e
_13757410.o
_13757411.e
_13757411.o
_13757412.e
_13757412.o
_13759437.e
_13759437.o
chealpix/
compile.sh
rays_output_0.txt
rays_output_126.txt
rays_param_125.txt
rays_param_126_fable.txt
rays_param_126_noagn.txt
rays_param_126_noagn_large.txt
rays_param_126_old.text
rays_param_126_ref.txt
test-vorolite_sub.slurm
test/
vorolite
vorolite_rt_sub.slurm
vorolite_rt_sub_alt1.slurm
vorolite_rt_sub_alt2.slurm
/Debug/
